{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    <a href="{{ url_for('views.show_note', note_id=note.id) }}">{{ note.title }}</a>
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<h1 align="center">Add Note</h1>
<form method="POST">
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" class="form-control">
  </div>

  <div class="form-group">
    <label for="note">Note:</label>
    <textarea name="note" id="note" class="form-control"></textarea>
  </div>

  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="publicCheckbox" name="public">
    <label class="form-check-label" for="publicCheckbox">Public</label>
  </div>

  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="encryptedCheckbox" name="encrypted">
    <label class="form-check-label" for="encryptedCheckbox">Encrypted</label>
  </div>

  <br />

  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
{% endblock %}
